<!DOCTYPE html>

<html lang="en">

<head>

    <meta http-equiv="refresh" content="5">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>SuiCxDe MQTT</title>
</head>

<body>

    <div style="width:70%" class="container my-5 mx-auto ">
        <h1 class="text-muted text-center my-4">

        </h1>


        <div class="card shadow-lg rounded ">

            <img src="https://raw.githubusercontent.com/mqttjs/MQTT.js/137ee0e3940c1f01049a30248c70f24dc6e6f829/MQTT.js.png" class="time card-img-top" alt="jinna">
            <div class="icon bg-light mx-auto text-center">
                <img src="" alt="">
            </div>



            <div class="text-muted  text-center details">

                <div style="margin: 20px;" class="alert alert-primary" role="alert">
                    Auto Update in <span>5</span> Seconds
                </div>
                <h1> Massege :
                    <%= username %>
                </h1>

            </div>

        </div>


    </div>

    </div>

</body>

</html>